@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Proxima-Nova.otf");
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.ttf");
}